
.stackpane {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-padding: 5;
}
.stage {
	-fx-background-radius: 30;
}
#myListItem {
	-fx-background-color: rgb(15,175,221);
	-fx-background-radius: 10px;
}